.footer {
    background-color: $color-pink;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    cursor: url(/src/images/cursor/vector.png), auto;

    a,
        button {
    
            cursor: url(/src/images/cursor/cursor.png), auto;
        }
    
    
}

.social-link {
    font-size: 14px;
    line-height: 156.02%;
    padding: 10px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFED4D;

    transform-origin: bacground-color;
    transition-duration: 300ms;
    transition-timing-function: $timing-function;

    fill: currentColor;

    &:hover,
    &:focus {
        background-color: $color-deep-black;
    }
}

@media screen and (min-width: $tablet) {
      .footer__container {
        align-items: flex-start;
      }
}

@media screen and (min-width: $desktop) {
    
}