.header {
  background-color: #FF7BBA;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  cursor: url(/src/images/cursor/vector.png), auto;

  a,button {
  
      cursor: url(/src/images/cursor/cursor.png), auto;
  }
  button {
      transform-origin: color, bacground-color;
      transition-duration: 300ms;
      transition-timing-function: $timing-function;
  
      fill: currentColor;
  
      &:hover,
      &:focus {
        color: $color-pink;
        background-color: $color-deep-black;
      }
      
    }

    .button-modal-close {
      transform-origin: color, bacground-color;
      transition-duration: 300ms;
      transition-timing-function: $timing-function;
    
      fill: currentColor;
    
      &:hover,
      &:focus {
        color: $color-deep-black;
        background-color: $color-pink;

      }
    }
}

.logo{
  color: $color-deep-black;
  border-radius: 100%;

  transform-origin: color, bacground-color;
  transition-duration: 300ms;
  transition-timing-function: $timing-function;

  fill: currentColor;

  &:hover,
  &:focus {
    color: $color-pink;
    background-color: $color-deep-black;
  }
}

@media screen and (max-width: 768px) {

  body{
    padding-top: 59px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    svg {
      width: 50px;
      height: 50px;
    }
  }

  .mobile-contacts-modal{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    border: solid 3px $color-pink;
    border-radius: 22px;
    background-color: $color-deep-black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    &.is-hidden {
      display: none;
    }
    
    cursor: url(/src/images/cursor/cursor.png), auto;

    a,
      button {
        cursor: url(/src/images/cursor/vector.png), auto;
      }
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-open-modal {

    &[data-contact-modal-open] {
        display: none;
      }
  }
  
  .button-modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    &[data-contact-modal-close] {
      display: none;
    }
  }

  .sites-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding-top: 3px;

    li {
      padding: 10px 20px;
    }
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-link {
    padding: 10px 20px;
    border: solid 0.5px $color-pink;
    border-radius: 20px;

    transform-origin: color, bacground-color;
    transition-duration: 300ms;
    transition-timing-function: $timing-function;
  
    fill: currentColor;
  
    &:hover,
    &:focus {
      color: $color-pink;
      background-color: $color-deep-black;
    }
  }

  .top-contacts {
    padding: 8px 10px;
    .link {
      padding: 8px 10px;
    }
  }

  .contacts-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


.button-open-modal {
  border: solid 1px $color-deep-black;
  border-radius: 13px;
  background-color: #FF7BBA00;
}

.button-modal-close {
  border: solid 1px $color-pink;
  border-radius: 13px;
  background-color: #00000000;
  fill: currentColor;
  color: $color-pink;
}

.nav-menu {
  display: flex;
  align-items: center;
}

@media screen and (min-width: $tablet) {
body {
  padding-top: 102px;
}

  .button-open-modal {

    display: block;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 65px;

    font-size: 15px;
    line-height: 156.02%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: $color-deep-black;

    &[data-mobile-modal-open] {
      display: none;
    }

    &[data-contact-modal-open] {
      display: block;
      color: $color-deep-black;
    }
  }

  .button-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    &[data-mobile-modal-close] {
      display: none;
    }
  }

  .mobile-contacts-modal {
    display: flex;
    width: 100%;
    // justify-content: space-between;
  }

  .sites-navigation {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    a {
      color: $color-deep-black;
    }
  }

  .contacts-modal {
      position: absolute;
      left: 50vw;
      top: 50vh;
      transform: translate(-50%, -50%);
      width: 60vw;
      height: 70vh;
      border: solid 3px $color-pink;
      border-radius: 22px;
      background-color: $color-deep-black;
      padding: 15px;
      overflow-y: auto;

      &.is-hidden {
        display: none;
      }

        cursor: url(/src/images/cursor/cursor.png), auto;

        a,button {
          cursor: url(/src/images/cursor/vector.png), auto;
        }
  }

  .sites-navigation {
    display: flex;
    align-items: center;
    width: 460px;
    justify-content: space-between;

    li {
      width: 12vw;
    }
  }
  .navigation-link {
    padding: 10px 1px;
    justify-content: center;
    border: solid 1px $color-deep-black;
    border-radius: 30px;

    font-size: 12px;
    line-height: 156.02%;
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: $color-deep-black;

    transform-origin: color, bacground-color;
    transition-duration: 300ms;
    transition-timing-function: $timing-function;
  
    fill: currentColor;
  
    &:hover,
    &:focus {
      color: $color-pink;
      background-color: $color-deep-black;
    }
  }

  .header-logo {
    margin-right: 15px;
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin: 15% 0;

    @media screen and (min-width: $desktop) {
      margin: 13% 0;
    }
    
  }
}
      
@media screen and (min-width: $desktop) {
  .sites-navigation {
    width: 700px;
  }

  .header-logo {
    margin-right: 100px;
    width: 100px;
    height: 100px;
  }

  .button-open-modal { 
    margin-left: 140px;
    // margin-left: 100px;
    // font-size: 20px;
    // padding: 13px 31px;
  }

  .navigation-link {
    font-size: 20px;
  }
}

.navigation-link {
  @media screen and (max-width: 768px) {
    transform-origin: color, bacground-color;
    transition-duration: 300ms;
    transition-timing-function: $timing-function;
  
  
    &:hover,
    &:focus {
      color: $color-deep-black;
      background-color: $color-pink;
    }
  }

  // @media screen and (min-width: 768px) {
  //   transform-origin: color, bacground-color;
  //   transition-duration: 300ms;
  //   transition-timing-function: $timing-function;
  
  
  //   &:hover,
  //   &:focus {
  //     color: $color-pink;
  //     background-color: $color-deep-black;
  //   }
  // }
}

.acaunt-pages, .contacts-link {

  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: color, bacground-color;
  transition-duration: 300ms;
  transition-timing-function: $timing-function;


  &:hover, &:focus {
    color: $color-deep-black;
    background-color: $color-pink;
  }

  @media screen and (min-width: $tablet) {
    padding: 18px;
    border-radius: 28px;
    border: solid 1px $color-pink;
  }
}

.icon-soshial, .icon-phone {
  margin-right: 4px;
}

.accaunt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acaunt-pages {
  fill: currentColor;
  &:last-child {
    margin-top: 9px;
  }
}

.icon-bascket, .icon-accaunt {
  fill: currentColor;
  margin-right: 4px;
}