.product-section {
cursor: url(/src/images/cursor/cursor.png), auto;
}

.head-of-page {
    font-family: 'IBM Plex Serif';
    font-weight: 500;
    font-size: 30px;
    line-height: 156.02%;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FF3E9A;

    margin-bottom: 70px;
}

.product {
    max-width: 370px;
    height: 578px;
    border: solid 1px $color-pink;
    border: 1.5px solid #F5476B;
    border-radius: 25px;

    &:not(:last-child) {
        margin-bottom: 75px;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        border-radius: 25px;

        transform-origin: color, bacground-color;
        transition-duration: 300ms;
        transition-timing-function: $timing-function;
    
        cursor: url(/src/images/cursor/vector.png), auto;

        &:hover,
        &:focus {
            background-color: $color-pink;

            p {
                color: $color-deep-black;
            }
        }
    }
    &__name {
        margin-top: 22px;
        font-family: 'Maven Pro';
        font-weight: 900;
        font-size: 30px;
        line-height: 156.02%;
    
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFED4D;
    }

    &__price {
        font-family: 'Maven Pro';
        font-weight: 500;
        font-size: 20px;
        line-height: 156.02%;
    
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: $color-pink;
    }
    &__galerry {
        overflow: hidden;
        height: 427px;
        max-width: 370px;
        display: flex;
        border-radius: 25px 25px 0 0;
        background-image: linear-gradient($color-pink 0% 100%);
        
    }
    a {

        .first-image{
            border-radius: 25px 25px 0 0;
        }

        .second-image {
            transform: translateX(100%);
            transform: translateY(100%);
            border-radius: 25px 25px 0 0;
            transform-origin: transleyX;
            transition-duration: 500ms;
            transition-timing-function: linear;
        }

        .third-image {
            transform: translateX(200%);
            transform: translateY(200%);
            transform-origin: transleyX;
            transition-duration: 1500ms;
            transition-timing-function: linear;
        }
        
        &:hover, &:focus {
            

            .second-image {
                transform: translateX(-100%);
            }

            .third-image {
                transform: translateX(-200%);
            }
        }
    }
}
    
.popular__container {
    padding-top: 71px;
    padding-bottom: 186px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: $tablet) {
    .product-list {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 1200px) {
        
        .product {
            width: calc((704px - 30px) / 3);
            height: calc(((704px - 30px) / 3) * 430px / 280px);
        }
        
        .product__name {
            margin-top: 11px;
            font-size: 20px;
        }
        
        .product__price {
            font-size: 10px;
            margin-bottom: 10px;
        }
        
        .third-image,
        .product__galerry, 
        .second-image,
        .first-image {
            width: calc((704px - 30px) / 3);
            height: calc(((704px - 30px) / 3) * 578px / 370px);
        }
        
        .product-container {
            width: 100%;
        }
        
        .popular__container {
            padding-bottom: 38px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .product-list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .product {
        width: 370px;
        height: 578px;

        &__name {
            margin-top: 22px;
            font-size: 30px;
        }
    
        &__price {
            font-size: 20px;
            margin-bottom: 0;
        }
    
        &__galerry,.third-image,
        .second-image,
        .first-image {
            height: 427px;
            width: 370px;
        }
    }
}