<section class="section product-section" id="contacts">
  <div class="container popular__container">
    <h1 class="head-of-page">--популярно--</h1>
    <div class="product-container">
      <ul class="product-list">
        <li class="product">
          <a href="#" class="product__link">
            <span class="product__galerry"
              ><img
                width="370"
                height="427"
                class="first-image"
                src="./images/products/pink-monster-1.jpg"
                alt="зображення зобраного боксу" />
              <img
                width="370"
                height="427"
                class="second-image"
                src="./images/products/pink-monster-2.jpg"
                alt="зображення зобраного боксу" />
              <img
                width="370"
                height="427"
                class="third-image"
                src="./images/products/pink-monster-3.jpg"
                alt="зображення зобраного боксу"
            /></span>
            <strong class="product__name">pink monster</strong>
            <p class="product__price">ЦІНА: 900 грн</p>
          </a>
        </li>
        <li class="product">
          <a href="#" class="product__link">
            <span class="product__galerry"
              ><img
                width="370"
                height="427"
                class="first-image"
                src="./images/products/berries-party-1.jpg"
                alt="зображення зобраного боксу"
            /></span>
            <strong class="product__name">berries party</strong>
            <p class="product__price">ЦІНА: 900 грн</p>
          </a>
        </li>
        <li class="product">
          <a href="#" class="product__link">
            <span class="product__galerry"
              ><img
                width="370"
                height="427"
                class="first-image"
                src="./images/products/mango-time-1.jpg"
                alt="зображення зобраного боксу" />
              <img
                width="370"
                height="427"
                class="second-image"
                src="./images/products/mango-time-2.jpg"
                alt="зображення зобраного боксу" />
              <img
                width="370"
                height="427"
                class="third-image"
                src="./images/products/mango-time-3.jpg"
                alt="зображення зобраного боксу"
            /></span>
            <strong class="product__name">mango time</strong>
            <p class="product__price">ЦІНА: 669 грн</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
